input{
    width: 500px;
    height: 30px;
}
button{
    height: 35px;
}
.chat {
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.messages {
    text-align: left;
    max-height: 300px; /* Например, чтобы ограничить высоту сообщений и добавить прокрутку */
    overflow-y: auto; /* Добавим вертикальную прокрутку при необходимости */
    border: 2px solid;
    margin-bottom: 15px;
    padding-left: 2px;
    border-radius: 12px;
    border-color: rgb(79, 245, 190);
}
p{
    font-size: 20px;
}
.user-message{
    margin-bottom: 5px;
    height: 42px;
    border: 2px solid;
    display: flex;
}
.message{
    border: 2px solid;
    width: 400px;
    min-height: 60px; /* Минимальная высота, чтобы сохранить начальный вид */
    margin-bottom: 12px;
    margin-left: 5px;
    background: linear-gradient(to right, #900be3, #a8a3ff);
    overflow: hidden; /* Добавляем overflow: hidden, чтобы контейнер принимал высоту содержимого */
}

.message p{
    overflow-wrap: break-word;
    font-size: 15px;
    margin-top: 1px;
    margin: 2px;
}
.admin-message{
    border: 2px solid;
    width: 400px;
    height: 60px;
    margin-bottom: 12px;
    margin-left: 250px;
    background: linear-gradient(to right, #900be3, #a8a3ff);
    
}
.admin-message p{
    font-size: 15px;
    margin-top: 1px;
}

.answer-button{
    text-align: right;
    text-decoration: underline;
}
