@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Roboto', sans-serif;
}
/* body{
    background-color: #708090;
} */

input{
    width: 500px;
    height: 30px;
}
button{
    height: 35px;
}
.chat {
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.messages {
    text-align: left;
    max-height: 300px; /* Например, чтобы ограничить высоту сообщений и добавить прокрутку */
    overflow-y: auto; /* Добавим вертикальную прокрутку при необходимости */
    border: 2px solid;
    margin-bottom: 15px;
    padding-left: 2px;
    border-radius: 12px;
    border-color: rgb(79, 245, 190);
}
p{
    font-size: 20px;
}
.user-message{
    margin-bottom: 5px;
    height: 42px;
    border: 2px solid;
    display: flex;
}
.message{
    border: 2px solid;
    border-radius: 10px;
    width: 400px;
    min-height: 60px; /* Минимальная высота, чтобы сохранить начальный вид */
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 5px;
    background: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    overflow: hidden; /* Добавляем overflow: hidden, чтобы контейнер принимал высоту содержимого */
}

.message p{
    overflow-wrap: break-word;
    font-size: 20px;
    margin-top: 1px;
    margin: 2px;
}
.admin-message{
    border: 2px solid;
    border-radius: 10px;
    width: 400px;
    min-height: 60px; /* Минимальная высота, чтобы сохранить начальный вид */
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 255px;
    background: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    overflow: hidden; /* Добавляем overflow: hidden, чтобы контейнер принимал высоту содержимого */ 
}
.admin-message p{
    overflow-wrap: break-word;
    font-size: 20px;
    margin-top: 1px;
    margin: 2px;
}

.answer-button{
    text-align: right;
    text-decoration: underline;
}
.answer-button:hover{
    cursor: pointer;
}
.users-reviews{
    position: absolute;
    top: 15px;
    right: 15px;
    border: 2px solid;
    height: 400px;
    border-color: rgb(79, 245, 190);
    border-radius: 2px;
    min-height: 60px; /* Минимальная высота, чтобы сохранить начальный вид */
    overflow: hidden; /* Добавляем overflow: hidden, чтобы контейнер принимал высоту содержимого */
    overflow-y: auto
    
}
.user-review{
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin-top: 5px;
    /* overflow-wrap: break-word; */
    
}
.user-review p{
    margin: 5px;
    overflow-wrap: break-word; /* для современных браузеров */
}
.user-email-answer{
    margin: 1px;
}